<section class="card">
        <div class="card-header text-center" *ngIf="languages.length > 0">{{languages[0].project.name}}</div>
    
    <div class="card-body">
        <button type="button" 
            [routerLink]="['/project/project-list']"
            class="mr-2 btn btn-default">Back</button>
    <button type="button" class="btn btn-primary" (click)="naviagetToSongle('')">Add new language</button>
    <table class="table table-bordered table-hover mt-2">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Is RTL</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let language of languages; let i=index">
                <td scope="row">{{i + 1}}</td>
                <td><a [routerLink]="" (click)="navigateToLocalization(language.id)">{{language.name}}</a></td>
                <td>{{language.code}}</td>
                <td>{{language.isRtl}}</td>
                <td>
                    <div class="float-right">
                        <a class="mr-2 btn btn-primary" [routerLink]="" (click)="naviagetToSongle(language.id)">Edit</a>
                        <a class="btn btn-primary" target="_blank" href="{{api}}language-id/{{language.id}}" >PUBLIC API</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</section>