<div class="row mt-4">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Localization Management System</h1>
                <p class="lead">Manage localization for you multilingual app, website</p>
                <p>
                    <button class="btn btn-primary" routerLink="/auth/signup"> Start from here</button>
                    <button class="ml-2 btn btn-primary" routerLink="/auth/signin">Login from here অথবা লগইন করুন</button>
                </p>
            </div>
        </div>
    </div>
</div>