<header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark box-shadow ">
        
                <div class="container d-flex justify-content-between">
                        <a routerLink="/dashboard" class="navbar-brand d-flex align-items-center">
                                <strong>TMS</strong>
                        </a>
                        <button class="navbar-toggler" 
                                type="button" 
                                data-toggle="collapse" 
                                data-target="#navbarCollapse" 
                                aria-controls="navbarCollapse" 
                                aria-expanded="false" 
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarCollapse">
                                <ul class="navbar-nav mr-auto">
                                        <a class="p-2" routerLink="/tailor-service"> Tailor Service</a>
                                        <a class="p-2" routerLink="/project/">Project</a>
                                        <a class="p-2" routerLink="/customer/">Customers</a>
                                        <a class="p-2" routerLink="/order/">Orders</a>
                                        <a class="p-2" routerLink="/report/">Reports</a>
                                </ul>
                                <a class="p-2 " routerLink="/auth/signout">Sign out</a>
                        </div>
                </div>
        
        </nav>
</header>
<div class="container">
        <router-outlet></router-outlet>
</div>