<section ng-controller="languageListController">

    <button type="button" class="btn btn-primary" ng-click="showAModal()">Add new language</button>
    <table class="table table-bordered mt-2">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="language in languages">
            <th scope="row">{{$index + 1}}</th>
            <td>{{language.name}}</td>
            <td>{{language.code}}</td>
            <td><a href="/#!/localization/localization-list?languageId={{language.id}}">Go to Translation</a></td>
        </tr>
        </tbody>
    </table>

</section>