<div class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Add language</h4>
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">
                <div>
                    <label>Language </label>
                    <input type="text" ng-model="language.name">
                </div>

                <div>
                    <label>code</label>
                    <input type="text" ng-model="language.code">
                </div>

                <div>
                    <label>RTL</label>
                    <input type="checkbox" ng-model="language.isRtl">
                </div>

            </div>


            <div class="modal-footer">
                <button type="button" ng-click="cancel()" class="btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="save(language)">OK</button>
            </div>

        </div>
    </div>
</div>