<h2>Sign up</h2>
<form >

    <div class="form-group">
        <label for="username">First  Nmae</label>
        <input type="text" [(ngModel)]="user.firstName" class="form-control" />
    </div>


    <div class="form-group">
        <label for="username">Last  Nmae</label>
        <input type="text" [(ngModel)]="user.lastName" class="form-control" />
    </div>

        
    <div class="form-group">
        <label for="username">Email</label>
        <input type="text"  [(ngModel)]="user.email" class="form-control"  />
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"  [(ngModel)]="user.password" class="form-control"  />S
    </div>

    <div class="form-group">
        <button (click)="submit(user)" class="btn btn-primary">Sign Up</button>
    </div>
</form>