
<section>
    <div class="row">
        <div class="col-md-12">
    <h4>New post</h4>
    <hr/>
    <div class="form-group row">
        <label class="col-md-2 col-form-label">
            <span class="float-right">Title</span>
        </label>
        <div class="col-md-9">
            <input type="text" [(ngModel)]="post.title" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label">
            <span class="float-right">Body</span>
        </label>
        <div class="col-md-9">
            <!-- <quill-editor [(ngModel)]="post.body">
                <div quill-editor-toolbar>
                  <span class="ql-formats">
                    <button class="ql-bold" [title]="'Bold'"></button>
                  </span>
                  <span class="ql-formats">
                    <select class="ql-align" [title]="'Aligment'">
                      <option selected></option>
                      <option value="center"></option>
                      <option value="right"></option>
                      <option value="justify"></option>
                    </select>
                    <select class="ql-align" [title]="'Aligment2'">
                      <option selected></option>
                      <option value="center"></option>
                      <option value="right"></option>
                      <option value="justify"></option>
                    </select>
                  </span>
                </div>
              </quill-editor>             -->
        </div>
    </div>

    <div class="form-group row mt-5">
        <div class="offset-md-2 col-md-10 btn-toolbar">
            <button class="btn btn-danger" routerLink="/post/post-list">Cancel</button>
            <button class="btn btn-primary" (click)="submit(post)">Save</button>
        </div>
    </div>
</div>
</div>
</section>
