<section ng-controller="localizationListController">

    <button type="button" class="btn btn-primary" ng-click="showAModal()">Add new localization</button>
    <table class="table table-bordered table-hover mt-2">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="localization in localizations" ng-click="showAModal(localization)">
            <th scope="row">{{$index + 1}}</th>
            <td>{{localization.langKey}}</td>
            <td>{{localization.value}}</td>
        </tr>
        </tbody>
    </table>


</section>