<section ng-controller="localizationListController">

    <div>
        You are entering translation for <b>{{language.name}}</b>
    </div>

    <a href="" class="btn btn-primary" ng-click="goLanguage()">Back to language</a>
    <button type="button" class="btn btn-primary" ng-click="showAModal()">Add new localization</button>
    <table class="table table-bordered table-hover mt-2">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="localization in localizations">
            <th ng-click="showAModal(localization)">{{$index + 1}}</th>
            <td ng-click="showAModal(localization)">{{localization.langKey}}</td>
            <td ng-click="showAModal(localization)">{{localization.value}}</td>
            <td>
                <button class="btn btn-danger"
                   ng-bootbox-confirm="Are you sure you want to delete this?"
                   ng-bootbox-confirm-action="confirmCallbackMethod(localization)"
                   ng-bootbox-confirm-action-cancel="confirmCallbackCancel(attr1, attr2)">X</button>
            </td>
        </tr>
        </tbody>
    </table>


</section>