<section class="card">
    <div class="card-body">
    <button type="button" *ngIf="language.project"
            [routerLink]="['/language/language-list']"
            [queryParams]="{projectId: language.project.id}"   
            class="mr-2 btn btn-default">Back to {{language.name}}</button>
    <button class="mr-2 btn btn-primary" type="button" (click)="addOrEdit()">Add new localization</button>
    <button class="mr-2 btn btn-primary" type="button" (click)="export(language.id)">Export</button>
    
    <label class="mr-2 btn btn-primary" for="file" style="margin-bottom:0">
        <input  type="file" id="file" 
                style="display:none;"
                (change)="uploadFile($event.target.files)" />
                Import 
    </label>
    <table class="table table-bordered table-hover mt-2">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let localization of localizations; let i=index">
                <td scope="row">{{i + 1}}</td>
                <td>{{localization.langKey}}</td>
                <td>{{localization.value}}</td>
                <td>
                    <a [routerLink]="" (click)="addOrEdit(localization.id)">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</section>