<section ng-controller="languageListController">

    <button type="button" class="btn btn-primary" ng-click="showAModal()">Add new language</button>
    <table class="table table-bordered mt-2">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="language in languages">
            <th scope="row">{{$index + 1}}</th>
            <td>{{language.name}}</td>
            <td>{{language.code}}</td>
            <td>
                <a href="" ng-click="goLocalization(language)" class="btn btn-primary">Go to Translation</a>
                <button ng-click="showAModal(language)" class="btn btn-primary">Edit</button>
                <a href="/api/project-id/{{projectId}}/language-id/{{language.id}}" target="_blank" class="btn btn-success">Public Api</a>
            </td>
        </tr>
        </tbody>
    </table>

</section>