<section>
    <button type="button" class="btn btn-primary" routerLink="/post/post-single">Add post</button>
    <table class="table table-bordered mt-2">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let post of posts">
            <th scope="row">{{post.id}}</th>
            <td><a [routerLink]="['/post/post-single']" [queryParams]="{postId: post.id}">{{post.title}}</a></td>
        </tr>
        </tbody>
    </table>
</section>