<div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>
                    <hr />
                    <div class="form-signin">
                        
                            <div class="form-group">
                                    <label for="username">First  Nmae</label>
                                    <input type="text" [(ngModel)]="user.firstName" class="form-control" />
                                </div>
                            
                            
                                <div class="form-group">
                                    <label for="username">Last  Nmae</label>
                                    <input type="text" [(ngModel)]="user.lastName" class="form-control" />
                                </div>
                            
                                    
                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="text"  [(ngModel)]="user.email" class="form-control"  />
                                </div>
                                
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password"  [(ngModel)]="user.password" class="form-control"  />
                                </div>
                            
                                <button (click)="submit(user)" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button>
    
                    </div>
                </div>
            </div>
        </div>
    </div>


