
<header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a routerLink="/" class="navbar-brand d-flex align-items-center">
                    <strong>TMS</strong>
                </a>
                <nav>
                    <a class="p-2 " routerLink="/auth/signup">Sign up</a>
                    <a class="p-2"  routerLink="/auth/signin">Sign in</a>
                </nav>
            </div>
        </div>
    </header>
<div class="container">
    <router-outlet></router-outlet>
</div>