<section class="card">

    <div class="card-body">
    <button type="button" class="btn btn-primary" (click)="navigateToSingle()" >Add New Project</button>
    <table class="table table-bordered table-hover mt-2">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Project name</th>
                <th scope="col">Code</th>
                <th scope="col">Description</th>
                <th scope="col">URL </th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let project of projects; let i=index">
                <td scope="row">{{i + 1}}</td>
                <td scope="row">
                    <a (click)="navigateToLanguage(project.id)" [routerLink]=""> {{project.name}}</a>
                </td>
                <td> {{project.code}}</td>
                <td>{{project.description}}</td>
                <td>{{project.url}}</td>
                <td>
                    <button class="btn btn-primary" (click)="navigateToSingle(project.id)" >Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</section>