<section class="card">

    <div class="card-body">
    <button type="button" class="btn btn-primary" routerLink="/project/project-single">Add new project</button>
    <table class="table table-bordered table-hover mt-2">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Project Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let project of projects">
                <td scope="row">{{project.id}}</td>
                <td scope="row">
                    {{project.name}}
                </td>
                <td>{{project.description}}</td>
                <td>
                    <a  [routerLink]="['/project/project-single']" 
                        [queryParams]="{projectId: project.id}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</section>